{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span></h1>
            </div>

            <div id="status">
                <p>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 560 288" style="enable-background:new 0 0 560 288;" xml:space="preserve">
<style type="text/css">
    .st0{fill:url(#SVGID_1_);}
    .st1{fill:url(#SVGID_2_);}
</style>
                        <g>
                            <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="88.4869" y1="143.7041" x2="274.896" y2="143.7041">
                                <stop  offset="0" style="stop-color:#D1E4A5"/>
                                <stop  offset="0.5" style="stop-color:#ACD479"/>
                                <stop  offset="1" style="stop-color:#76B83F"/>
                            </linearGradient>
                            <path class="st0" d="M119.3,166v110H88.5V11.4h72.6c32.5,0,56.4,6.2,71.9,18.6c15.5,12.4,23.3,31.1,23.3,56.1
		c0,35-17.7,58.6-53.2,70.9L274.9,276h-36.4l-64.1-110H119.3z M119.3,139.5h42.2c21.7,0,37.6-4.3,47.8-12.9
		c10.1-8.6,15.2-21.6,15.2-38.8c0-17.5-5.2-30.1-15.5-37.8c-10.3-7.7-26.9-11.6-49.7-11.6h-40V139.5z"/>
                            <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="288.2882" y1="176.8233" x2="468" y2="176.8233">
                                <stop  offset="0" style="stop-color:#D1E4A5"/>
                                <stop  offset="0.5" style="stop-color:#ACD479"/>
                                <stop  offset="1" style="stop-color:#76B83F"/>
                            </linearGradient>
                            <path class="st1" d="M360.9,174.5l-69-96.8h34.2l52.3,76l52.1-76h33.8l-69,96.8L468,276h-34l-55.6-80.4L322.3,276h-34L360.9,174.5z
		"/>
                        </g>
</svg>
                </p>
            </div>

            <div id="next">
                <p>
                    <svg id="icon-status" width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#759E1A"/></svg>
                <h2>Version: {{ rx_ver }}</h2>
                </p>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
